ValidatorXSC/
node_modules/
img/

archive
package-lock.json
pnpm-lock.yaml
*.kpz
p-kpz
kpt
TO-DO.md
tailwind.lit.log
*.cache.json

.DS_Store
.vscode/
.idea/

# Ignore .d.ts and .map files in the "dist" directory
Koha/Plugin/Com/LMSCloud/EventManagement/dist/**/*.d.ts
Koha/Plugin/Com/LMSCloud/EventManagement/dist/**/*.d.ts.map