ValidatorXSC/
node_modules/
img/

package-lock.json
pnpm-lock.yaml
*.kpz
p-kpz
TO-DO.md

.DS_Store
.vscode/
.idea/

# Ignore .d.ts and .map files in the "dist" directory
Koha/Plugin/Com/LMSCloud/EventManagement/dist/**/*.d.ts
Koha/Plugin/Com/LMSCloud/EventManagement/dist/**/*.d.ts.map

# Ignore .d.ts.map files in subdirectories of the "dist" directory
Koha/Plugin/Com/LMSCloud/EventManagement/dist/**/**/*.d.ts.map