[% INCLUDE "$PLUGIN_DIR/includes/head.inc" %]
[% INCLUDE "$PLUGIN_DIR/includes/body-header.inc" %]

[% WRAPPER "$PLUGIN_DIR/wrappers/body-main.inc" %]
    <div class="lmsr-content-block" id="entry-point">
        <lms-staff-locations-view></lms-staff-locations-view>
    </div>
[% END %]