[% INCLUDE "$PLUGIN_DIR/includes/head.inc" %]
[% INCLUDE "$PLUGIN_DIR/includes/body-header.inc" %]

[% WRAPPER "$PLUGIN_DIR/wrappers/body-main.inc" %]
    <lms-staff-events-view></lms-staff-events-view>
[% END %]