[% USE gtx = Gettext('com.lmscloud.eventmanagement', LANG, 'utf-8', LOCALES) %]
[% INCLUDE "$PLUGIN_DIR/includes/head.inc" %]
[% INCLUDE "$PLUGIN_DIR/includes/body-header.inc" %]

[% WRAPPER "$PLUGIN_DIR/wrappers/body-main.inc" %]
    <lms-image-browser></lms-image-browser>
[% END %]